.song-cover {
    width: 250px;
    height: 250px;
}

.karaoke {
    position: absolute;
    top: 5px;
    width: 250px;
    height: 240px;
    font-weight: bold;
    color: lightblue;
    text-align: center;
    overflow-y: hidden;
}

.karaoke div {
    font-size: 15px;
    text-shadow: 2px 2px Black;
}

.karaoke-current-line {
    color: lightcoral;
}

.karaoke-background {
    filter: brightness(50%);
}
